body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #header {
    background-color: #e50914;
    padding: 10px;
  }
  
  #header h1 {
    color: #fff;
    margin: 0;
    font-size: 28px;
    text-align: center;
  }
  
  #main {
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px;
    text-align: center;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #main h2 {
    font-size: 40px;
    margin-bottom: 25px;
  }
  
  #main p {
    font-size: 18px;
  }
  
  #cta-button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    margin-top: 30px;
    text-decoration: none;
    cursor: pointer;
  }
  
  #footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  
  #footer p {
    color: #fff;
    margin: 0;
  }